.clear { clear:  both; }
.social-links li {
	display: inline-block;
	list-style: none;
	width: 18%;
}
.social-links {
	margin: 0 auto;
	text-align: center;
}

.social-links li a {
	display: block;
	width: 100%;
	max-width: 85px;
	height: auto;
}

.list-professional {

}

.list-professional dt {
	font-weight: bold;
	margin-bottom: 10px;	
	display: block;
	font-size: 14px;
}

.list-professional dd {
	margin: 0 10px 20px;
	font-size: 12px;
}

.list-professional dd p {
	margin: 5px 0;
}